<ion-header>
  <ion-toolbar>
    <ion-title>View Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title> {{ note.title }} </ion-card-title>
      <div class="note-date">{{ note.date }}</div>
      <br />
      <div>{{ note.content }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <button
    ion-button
    color="primary"
    block
    (click)="deleteNote(note.createDate)"
  >
    Delete Note
  </button>
</ion-footer>
