<ion-content color="primary">
  <div class="center">
    <ion-card color="dark">
      <div class="center">
        <img src="../../../assets/icon.png" height="100px" width="100px" />
      </div>
      <ion-text color="secondary" class="center">
        <h1>NOTAMATIC</h1>
      </ion-text>

      <ion-card-header>
        <ion-text color="secondary"><h1>Register</h1></ion-text>
      </ion-card-header>

      <form action="registration.php" method="post">
        <ion-card-content>
          <ion-item color="dark">
            <ion-label color="secondary" position="floating"
              >First Name</ion-label
            >
            <ion-input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Enter your first name"
            ></ion-input>
          </ion-item>

          <ion-item color="dark">
            <ion-label color="secondary" position="floating"
              >Last Name</ion-label
            >
            <ion-input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Enter your last name"
            ></ion-input>
          </ion-item>

          <ion-item color="dark">
            <ion-label color="secondary" position="floating">Email</ion-label>
            <ion-input
              type="text"
              name="email"
              id="email"
              placeholder="Enter your email"
            ></ion-input>
          </ion-item>

          <ion-item color="dark">
            <ion-label color="secondary" position="floating"
              >Username</ion-label
            >
            <ion-input
              type="text"
              name="username"
              id="username"
              placeholder="Choose a username"
            ></ion-input>
          </ion-item>

          <ion-item color="dark">
            <ion-label color="secondary" position="floating"
              >Password</ion-label
            >
            <ion-input
              type="text"
              name="password"
              id="password"
              placeholder="Choose a strong password"
            ></ion-input>
          </ion-item>

          <ion-item color="dark">
            <ion-label color="secondary" position="floating"
              >Institute Name</ion-label
            >
            <ion-input
              type="text"
              name="institute"
              id="institute"
              placeholder="Enter the institute name"
            ></ion-input>
          </ion-item>

          <br />
        </ion-card-content>
      </form>
      <ion-card-content></ion-card-content
    ></ion-card></div
></ion-content>
