<ion-content color="primary">
  <div class="center">
    <ion-card color="dark">
      <div class="center">
        <img src="../../../assets/icon.png" height="100px" width="100px" />
      </div>
      <ion-text color="secondary" class="center">
        <h1>NOTAMATIC</h1>
      </ion-text>

      <ion-card-header>
        <ion-text color="secondary"><h1>Sign In</h1></ion-text>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="dark">
          <ion-label color="secondary" position="floating">Username</ion-label>
          <ion-input placeholder="Enter username"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label color="secondary" position="floating">Password</ion-label>
          <ion-input placeholder="Enter password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-button color="secondary" expand="block">Login</ion-button>
        <ion-button href="/registration" color="secondary" expand="block"
          >Register</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
